[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kube-apiserver \
  --allow_privileged=true \
  --advertise-address=172.17.8.101 \
  --port=8080 \
  --kubelet-port=10250 \
  --bind-address=0.0.0.0 \
  --insecure-bind-address=0.0.0.0 \
  --etcd-servers=http://0.0.0.0:2379 \
  --service-cluster-ip-range=10.254.0.0/24 \
  --service-node-port-range=30000-32767 \
  --v=2


Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

